*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.h1-size{
    font-size: 70px;
}

.btn{
   background-color: rgb(125,0,125);
   color: white;
}

.btn:hover {
    background-color: #0000d6;
}